*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background: linear-gradient(to bottom left,#262f2c 25%,#524166 75%);
    color: #e6eef8;
    overflow: hidden;
}
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e6eef8;
    gap: 20px;
}
.sidebar img{
    border-radius: 10px;
}
.nav-link {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 #262f2c;
    border-radius: 10px;
}
.main-box{
    margin-left: 100px;
    border-style: solid;
    border-color: #e6eef8;
    border-radius: 20px;
    color: #e6eef8;
}
.card-box{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 20px;
}
.box {
    border: 3px solid white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 #262f2c;
}
.left-top { 
    grid-column: 1; 
    grid-row: 1; 
    height: 120px; 
    border-radius: 15px;
}
.left-mid { 
    grid-column: 1; 
    grid-row: 2; 
    height: 120px;
    border-radius: 15px;
}
.left-bottom { 
    grid-column: 1; 
    grid-row: 3; 
    display: flex; 
    flex-direction: column; 
    border-radius: 15px;
}
.center-top { 
    grid-column: 2; 
    grid-row: 1 / 3; 
    border-radius: 15px;
}
.center-bottom { 
    grid-column: 2; 
    grid-row: 3; 
    border-radius: 15px;
    align-content: center;
}
.right-col { 
    grid-column: 3; 
    grid-row: 1 / 4; 
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
}
.datetime{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.datetime img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.datetime p{
    font-size: 30px
}
.left-mid{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;      
    grid-template-areas: "a c" "b c";
    justify-items: center;
    align-items: center;
}
.cella{grid-area:a; font-size: 20px;}
.cellb{grid-area:b;}
.cellc{grid-area:c;}
.cellc img{border-radius: 10px;}
.left-bottom a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    width: min-content; 
    margin: auto;
    margin-top: 10px;
}
.lboard{
    width: 100%;
    text-align: center;
    border-radius: 15px;
}
.lboard tr:nth-child(even){
    background-color: #262f2c;
}
.news li{
    border-radius: 10px;
}
.news li:nth-child(odd){
    background-color:#524166;
}
.news p{
    margin: auto;
}
/*---------------------------*/
.right-col .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
  backdrop-filter: blur(20px);
  padding-top: 50px;
}
.content{
  background-color: white;
  margin: 5% auto 15% auto;
  color: #262f2c;
  border-radius: 10px;
  padding: 10px;
  max-width: 600px;
  width: 100%;
}
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}
.close:hover, .close:focus {
  color: #f44336;
  cursor: pointer;
}
/*---------------------------------*/
.sidebar .btn{
    color: #e6eef8;
}
.btn {
  padding: 15px 40px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.btn::before {
  content: "";
  background: linear-gradient(45deg, #262f2c);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}
.btn:hover::before {
  opacity: 1;
}
.bt{
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    background: linear-gradient(to bottom right,#262f2c 25%,#524166 75%);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}
.bt::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.bt::before {
  content: "";
  background: linear-gradient(45deg, #FF7300);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}
.bt:hover::before {
  opacity: 1;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  min-width: 48%;
  margin-bottom: 10px;
}

input[type=text], select {
  width: 100%;
  min-width: 45%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

textarea {
  width: 100%;
  min-width: 45%;
  height: 150px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  label,
  input[type=text],
  input[type=submit],
  select, textarea {
    flex: 100%;
    min-width: 100%;
  }
}
